// Navbar Section Styling==============>
.navBar {
    position: fixed;
    flex-direction: column;
    width: 100%;
    z-index: 1000;

    .navBarOne,
    .navBarTwo {
        width: 100%;
        justify-content: space-between;
        padding: 1rem;
    }

    .navBarOne {
        background: var(--SecondaryColor);

        .icon {
            &:hover {
                color: var(--PrimaryColor);
            }
        }

        .atb {
            gap: 1rem;

            span {
                color: var(--BlackColor);
                font-size: 13px;
                cursor: pointer;

                &:hover {
                    color: var(--PrimaryColor);
                    font-family: 700;
                }
            }
        }
    }

    .navBarTwo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 3rem;
        padding: 1.5rem 1rem;
        position: fixed;
        transition: .3s ease-in-out;

        .logoDiv {
            .logo {
                width: 100%;
                font-size: 2rem;
            }
        }

        @media screen and (max-width:768px) {
            .navBarMenu {
                position: absolute;
                background: var(--SecondaryColor);
                padding: 1.5rem;
                border-radius: 10px;
                top: 5rem;
                right: -50%;
                width: 80%;
                transform: translateX(50%);
                z-index: 2000;
                box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
                border: 3px solid var(--WhiteColor);
                transition: .4s ease-in-out;

                .menu {
                    flex-direction: column;
                    gap: .5rem;
                    text-align: center;

                    .listItem {
                        padding: .5rem 0;
                        cursor: pointer;
                        color: var(--BlackColor);

                        &:hover {
                            color: var(--PrimaryColor);
                            font-weight: 700;
                        }
                    }
                }

                .btnOne {
                    display: block;
                    justify-content: center;
                    margin: auto;
                    margin-top: 1rem;
                }
            }

            .navBarMenuShow {
                right: 50%;
                transition: .4s ease-in-out;
            }

            .btnTwo {
                display: none;
            }

            .toggleIcon {
                .icon {
                    color: var(--BlackColor);
                    font-size: 30px;
                }
            }
        }
    }

    .navbar_with_bg {
        background-color: var(--SecondaryColor);
        padding: .5rem 1rem;
        border-radius: 0 0 1rem 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    }
}
